<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog.mapper.FollowMapper">

    <resultMap id="FollowMap" type="com.example.blog.entity.Follow">
        <id property="id" column="id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="followeeId" column="followee_id"/>
        <result property="followerId" column="follower_id"/>
    </resultMap>
    <insert id="insertByFollowerIdFolloweeId">
        INSERT INTO follow (follower_id, followee_id, created_at, updated_at)
        VALUES (#{followerId}, #{followeeId}, NOW(), NOW());
    </insert>

</mapper>