<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.example.blog.entity.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="emailAddress" column="email_address"/>
    </resultMap>


    <insert id="insert" parameterType="com.example.blog.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (user_name, name, email_address, token, password)
        VALUES (#{userName}, #{name}, #{emailAddress}, #{token}, #{password})
    </insert>

    <select id="getLikeCount" resultType="java.lang.Integer">
        SELECT
        COALESCE(SUM(article_likes.like_count), 0) AS total_likes
        FROM
        user u
        LEFT JOIN
        article a ON u.id = a.user_id
        LEFT JOIN
        (SELECT
        article_id,
        COUNT(*) AS like_count
        FROM
        `like`
        GROUP BY
        article_id) AS article_likes
        ON
        a.id = article_likes.article_id
        WHERE
        u.id = #{userId}  <!-- 根据传入的 userId 过滤 -->
        GROUP BY
        u.id;
    </select>

</mapper>